@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;300;600&display=swap');

:root {
  --navy: #5C6E91; 
  --pale: #EEEDED;
  --maroon: #8F384D;
  --gold: #DD9866;
  --nude: #EBD8B7;
  --beige: #C2B092; 
  --egg: #ffff;

}



body {
  background-color: var(--nude);
 }

 header {
  /* display: flex; */
  
  font-size: 20px;
  align-items: center; 
} 

header nav { 
  font-family: 'Source Serif Pro', serif;
  font-weight: 600;
  background-color: var(--egg); 
 }


.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
  justify-content: space-between;
}

main {
  padding: 200px;
}

main a {
  text-decoration: none;
  color: var(--navy)
}

header .logo {
  width: 150px;
  height: 150px;
}

.txt-underline {
  text-decoration: underline;  
}

nav a {
  color: var(--maroon);
  text-decoration: none;
}

p {
  font-size: 18px;
  font-family: 'Source Serif Pro', serif;
}

.portfolio {
  height: 300px;
  padding: 50px;
  margin-bottom: 120px;
}

.circular_image{
  float:left;
  margin-left:125px;
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%; /* Modified*/
  /*overflow:hidden;*/
  background-color: blue; 
}

h2 {
  font-size: 24px;
  color: var(--pale);
}

h5 {
  color: var(--maroon)
}

.resume {
  padding-top: 50px;
}

.projects {
  padding-bottom: 20px;
}







